<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>wpaq | Newsletter</title>
</head>

<style>
  /* Style the form element with a border around it */
  form {
    border: 4px solid #f1f1f1;
    max-width: 500px;
    margin: 0 auto;
  }

  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
    background-color: #f1f1f1;
  }

  /* Style the input elements and the submit button */
  input[type=text],
  input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }

  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }

  input[type=submit]:hover {
    opacity: 0.8;
  }
</style>

<body>
  <form action="/email/send" method="post">
    <div class="container">
      <h2>Subscribe to our Newsletter</h2>
    </div>

    <div class="container" style="background-color:white">
      <input type="text" placeholder="Name" name="name" required>
      <input type="text" placeholder="Email address" name="mail" required>
      <label>
        <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
      </label>
    </div>

    <div class="container">
      <input type="submit" value="Subscribe">
    </div>
  </form>
</body>

</html>